<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TranstionFromView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>935CE9081D37270100B47D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>935CE9211D37270100B47D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>935CE92C1D37270100B47D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
